Repository davekpatrick/action-release-version, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, git, workflow, project, code, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'
# 
git:
- any: ['**/.gitignore']
#
workflow:
- any: ['.github/**/*']
#
project:
- any: ['actions.yml']
#
code:
- any: ['actions.yml', 'node/package.json', 'node/**/*']
#
documentation:
- any: ['**/*.md']

...
# EOF

Managed by Terraform
  .gitignore
Labels: repo, git

spelling , wording cleanup
  README.md
  action.yml
Labels: repo, documentation

workflow cleanup
  .github/workflows/default.yml
  .github/workflows/main.yml
Labels: workflow

path fix
  action.yml
Labels: repo

runner versions only
  .github/workflows/default.yml
Labels: workflow

validate setup
  .github/workflows/default.yml
Labels: workflow

setup node version on test
  .github/workflows/default.yml
Labels: workflow

code scan setup
  .github/workflows/codeql.yml
Labels: workflow

on push look for existing tag
  node/lib/get-version.js
Labels: none

initial minor increment of version
  node/index.js
Labels: none

matching tags
  node/lib/get-version.js
Labels: none

log version
  node/index.js
Labels: none

additional logging & await getVersion
  node/index.js
Labels: none

forgot incap. async
  node/index.js
Labels: none

test action output
  .github/workflows/default.yml
Labels: workflow

typo
  .github/workflows/default.yml
Labels: workflow

Managed by Terraform
  .gitignore
Labels: repo, git

updated standard workflow
  .github/workflows/default.yml
Labels: workflow

lint
  node/.eslintignore
  node/.eslintrc.yml
  node/.prettierignore
  node/.prettierrc.yml
  node/package.json
Labels: none

cleanup
  .devcontainer/devcontainer.json
  action.yml
  node/index.js
  node/lib/get-version.js
Labels: repo

hardcode version for now
  .github/workflows/default.yml
Labels: workflow

additional logging
  node/package.json
Labels: none

end of line handling for windows
  .gitattributes
Labels: repo

git force eol lf
  .gitattributes
Labels: repo

eol = lf
  .gitattributes
Labels: repo

remove debug logging
  node/package.json
Labels: none

build once
  .github/workflows/default.yml
Labels: workflow

ignore project lock file
  node/.gitignore
Labels: git

mocha project setup
  .github/folder.md
  node/.mocharc.yml
  node/package.json
  tests/folder.md
Labels: workflow, documentation

format cleanup
  .editorconfig
Labels: repo

format
  node/index.js
Labels: none

format
  README.md
Labels: repo, documentation

cleanup
  node/package.json
Labels: none

updated entrypoint
  node/index.js
Labels: none

format fix
  node/.mocharc.yml
Labels: none

debug process.env
  node/index.js
Labels: none

Managed by Terraform
  .gitignore
Labels: repo, git

cleanup
  action.yml
  node/index.js
  node/lib/get-version.js
  node/lib/index.js
  node/package.json
  tests/fixtures/release.json
  tests/fixtures/workspace/.gitkeep
  tests/folder.md
  tests/index.spec.js
  tests/setup.js
Labels: repo, documentation

format
  node/lib/get-version.js
  node/lib/index.js
  node/package.json
Labels: none

updated workflow
  .github/workflows/codeql.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Labels: workflow
