Repository davekpatrick/action-release-version, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, git, workflow, project, code, documentation

create fake token
  tests/setup.js
Labels: none

updated os and node versions
  .github/workflows/default.yml
Labels: workflow

only node 16 and 18
  .github/workflows/default.yml
Labels: workflow

fix name check
  tests/index.spec.js
Labels: none

cleanup
  tests/get-version.spec.js
  tests/index.spec.js
  tests/main-function.spec.js
  tests/project.spec.js
  tests/semver.spec.js
  tests/setup.js
Labels: none

action version fixes
  .github/workflows/default.yml
  .github/workflows/main.yml
Labels: workflow

cleanup
  tests/dependencies/folder.md
  tests/dependencies/github-actions.spec.js
  tests/dependencies/semver.spec.js
  tests/fixtures/folder.md
  tests/folder.md
  tests/get-version.spec.js
  tests/index.spec.js
  tests/project.spec.js
  tests/utilitiess/folder.md
Labels: documentation

fix env vars
  tests/get-version.spec.js
Labels: none

cleanup
  tests/index.spec.js
Labels: none

handle undefined input
  node/lib/index.js
Labels: none

fixes
  tests/index.spec.js
Labels: none

createFakeGitHubToken
  tests/setup.js
Labels: none

fix run test workflow
  .github/workflows/default.yml
Labels: workflow

validate env vars
  .github/workflows/default.yml
Labels: workflow

fix error , additional logs
  tests/project.spec.js
  tests/setup.js
Labels: none

fix release event unit teset
  tests/get-version.spec.js
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'
# 
git:
- any: ['**/.gitignore']
#
workflow:
- any: ['.github/**/*']
#
project:
- any: ['actions.yml']
#
code:
- any: ['actions.yml', 'node/package.json', 'node/**/*']
#
documentation:
- any: ['**/*.md']

...
# EOF
